* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #A7D640, #32a852, #1ecbe1);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

@keyframes gradientBG {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    margin: 0 auto;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 2rem rgba(0,0,0,0.4);
    font-size: 8vmin;
    color: #ca3c25;
    background-color: #ffffc7;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 3rem rgba(0,0,0,0.5);
    cursor: pointer;
}

#reset, #new-btn {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background: linear-gradient(135deg, #191913, #434343);
    color: #fff;
    border-radius: 2rem;
    border: none;
    transition: all 0.3s ease;
    margin: 1rem;
}

#reset:hover, #new-btn:hover {
    background: linear-gradient(135deg, #434343, #191913);
    transform: scale(1.1);
    cursor: pointer;
}

#msg {
    color: #ffffc7;
    font-size: 8vmin;   
    text-shadow: 0 0 1rem rgba(0,0,0,0.5);
}

.msg-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display: none;
}
